@model TicketSystemProject.Models.Ticket

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Ticket Details";
}

   

<div class="container mt-4">
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-header text-white"
             style="background-color:#286398;">
            <h3 class="mb-0">@Model.Title</h3>
        </div>

        <div class="card-body">

            <div class="row mb-3">
                <div class="col-md-3 fw-bold">Description:</div>
                <div class="col-md-9">@Model.Description</div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3 fw-bold">Status:</div>
                <div class="col-md-9">
                    <span class="badge bg-primary">
                        @Model.Status
                    </span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3 fw-bold">Created Date:</div>
                <div class="col-md-9">
                    @Model.CreatedDate.ToString("dd.MM.yyyy HH:mm")
                </div>
            </div>

            @if (Model.User != null)
            {
                <div class="row mb-3">
                    <div class="col-md-3 fw-bold">Created By:</div>
                    <div class="col-md-9">
                        @Model.User.UserName
                    </div>
                </div>
            }

        </div>

        <div class="card-footer text-end bg-white border-0">
            <a asp-action="Index"
               class="btn btn-secondary">
                Back to List
            </a>
        </div>
    </div>
</div>